/* stylelint-disable color-hex-length */
/**
 * Default preset file.
 *
 * Use this space to customise variables, create mixins and override SCSS.
 */

// Colors
$gray-dark:                 #373a3c !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default;

$brand-primary:             #00acdf !default;
$brand-success:             #77b300 !default;
$brand-warning:             #ff8800 !default;
$brand-danger:              #ff4136 !default;
$brand-inverse:             $gray-dark !default;
$navbar-height:             60px !default;

// Spacing
$spacer:   1rem !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;
$border-width: 1px !default;

// Body
$body-bg:    #f4f4f4 !default;
$body-color: #3a3a3a !default;

// Typography
$font-family-sans-serif: "Open Sans", "Helvetica Neue", Arial, sans-serif !default;
$font-size-root: 14px !default;

// Tables
$table-bg:                      transparent !default;
$table-bg-accent:               #fafafa !default;
$table-bg-hover:                lighten($brand-primary, 55%) !default;
$table-bg-active:               $table-bg-hover !default;
$table-border-color:            #f4f4f4 !default;

// Dropdowns
$dropdown-border-color:          #e2e2e2 !default;
$dropdown-link-color:            $body-color;

// Navbar
$navbar-light-color:                #fff !default;
$navbar-light-hover-color:          #fff !default;
$navbar-light-active-color:         #fff !default;

// Cards
$card-border-radius:       0 !default;
$card-border-color:        rgba(238, 238, 238, 1) !default;

// Breadcrumbs
$breadcrumb-bg:                 transparent !default;
$breadcrumb-padding-x:          0 !default;
$breadcrumb-divider: "/" !default;
$breadcrumb-divider-rtl: "/" !default;

// Import everything.
@import "moodle";

/**
 * Navigation bar identity.
 */
.navbar-light {
    background-color: #000;
    border-bottom: 1px solid #fff;

    .container {
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-brand {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-right: $spacer * 2;
        color: #fff;
        background-color: #000;
        @include hover-focus {
            color: #fff;
        }
        &.has-logo {
            color: $brand-primary;
            background-color: transparent;
            @include hover-focus {
                color: #000;
            }
            padding-top: 0;
        }
    }

    .navbar-nav {
        .nav-item + .nav-item {
            margin-left: $spacer * 2;
        }
        .nav-link {
            font-size: $font-size-sm;
            text-transform: uppercase;
            letter-spacing: 1px;
        }
    }
}

header .logo img {
    max-height: 20px;
}

.usermenu {

    a .usertext {
      color: white;
    }
    .dropdown-toggle {
        color: white;
      }

}
/**
 * Styling the dropdown menus.
 */
.dropdown-menu {
    font-size: 14px;
    border-radius: 0;
    .dropdown-item {
        padding-top: 8px;
        padding-bottom: 8px;
        border-bottom: $border-width solid $dropdown-border-color;
        &:last-child {
            border-bottom: 0;
        }
    }
    .dropdown-divider {
        display: none;
    }
}
.dropdown-item {
    color: #000;
}


/**
 * User picture.
 */
.userpicture {
    border-radius: 50%;
}

/**
 * For background in content areas.
 */
#page.container-fluid {
    padding: 0 (2 * $spacer);
}

#block-region-side-pre {
    padding-left: 0;
}

/**
 * Dashboard styling.
 */
#page-my-index {
    #region-main {
        background-color: transparent;
        border: 0;
        padding: 0;
    }
}

/**
 * Blocks.
 */
.block-region .card-block {
    .card-title {
        padding-bottom: ($spacer/2);
        font-size: 1.143rem;
        font-weight: 600;
        text-transform: uppercase;
    }
}

/**
 * Navigation.
 */
.block_navigation,
.block_settings {
    .block_tree .tree_item {
        margin: ($spacer/2) 0;
    }
}

/**
 * Form styles.
 */

.form-group {
    margin-top: ($spacer/2);
}

.form-inline .form-group {
    margin-top: 0;
}



/* PROGRESS BAR
 * ================================== */
 .progress-chart-container .progress-doughnut {
    .progress-text.has-percent {
      color: red;
      font-weight: bold;

      font-family: "Helvetica", sans-serif;
    }
    .progress-indicator svg .circle {
      stroke: red;
    }
}

    #page-header {
        .card {
            //visibility: hidden;
        }
        .page-header-image {
            display: none;
        }
    
    }


/* Course Blocks
 * =============================== */
//hide course image headers
.card .withimage {
    background: transparent !important;
}

.block_myoverview .courses-view-course-item {
  height: 370px;
  border-radius: 0;
  padding: 2px;
  &:hover {
      background: transparent;
      border-color: red;
      border-width: 3px;
  }
}


.card-block .course-info-container {
  //background-image: url("https://static.pexels.com/photos/670625/pexels-photo-670625.jpeg");
  // background-size: 100%;
  // height: 200px;
  // background-position: center;
  // background-repeat: no-repeat;
  //margin-top: 180px;
  .text-muted {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 350px;
  }
  .h5 {
    margin-top: 215px;
    margin-bottom: 2px;
    color: red;
    font-size: 25px;
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    hyphens: auto;
  }
  .media-left{
    margin-top: 210px;
    float: right !important;
  }
}

.courses-view-course-item #course-info-container-4 {
      background-image: url("https://images.pexels.com/photos/1061588/pexels-photo-1061588.jpeg?cs=srgb&dl=adult-business-businessman-1061588.jpg&fm=jpg") !important;
}
.courses-view-course-item #course-info-container-5{
    background-image: url("https://images.pexels.com/photos/908284/pexels-photo-908284.jpeg?auto=compress&cs=tinysrgb&h=650&w=940") !important;
}

#page-footer {
    visibility: hidden;
}

/*  MOBILE ADJUSTMENTS
 * ================================= */
 @media screen and (max-width: 767px) {
    h3 {
      overflow-wrap: break;
      padding-left: 15px;
      padding-right: 15px;
    }
    .navbar .dropdown-menu a{
          color: #555 !important;
          }
        .h5 {
          margin-top: 150px !important;
          font-size: 20px !important;
          margin-bottom: 3px;
        }
        .media-left{
          margin-top: 150px !important;
          float: right !important;
        }
    .block_myoverview .courses-view-course-item {
            height: 310px;
    }
    .progress-chart-container .progress-doughnut {
        .progress-text.has-percent {
            text-shadow:
            0.07em 0 #fff,
            0 0.07em #fff,
            -0.07em 0 #fff,
            0 -0.07em #fff;
        }
    }
}

/* Login Page
 * =============================== */
 #page-login-index {
    .card-title{

    }
    .btn-primary {
        color: #fff;
        background-color: #000;
        border-color: #000;
      }
 }
